<div data-bind="visible: initialized">
<h1>Hello    <span data-bind="text: firstName"></span></h1>
<p>
    Get busy coding something....
</p>
<p >
    You are visitor: <span data-bind="text: visitorCount"></span>
    since Redis reset.
</p>
</div>